<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <table id="example" class="table table-bordered" style="margin-left:auto;margin-right:auto;"  >
        <thead>
        <tr>
            <th>Name</th>
            <th>Distance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${scoreTests}">
            <td th:text="${score.name}">Name</td>
            <td th:text="${score.distance}">Final distance to cat</td>
        </tr>
        </tbody>
    </table>
</body>
</html>